@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Pecita";
  src: url("/fonts/Pecita.otf") format("opentype");
}

/* new colors to switch to later */

:root {
  --background: #f6f8fe;
  --accent: #c8d7ff;
  --accent2: #708fe4;
  --light-gray: #e1e4ec;
  --gray: #3b3c40;
  --black: #191a1d;
}

/* :root {
  --background: #fefdfb;
  --accent: #c3e3a3;
  --light-gray: #d0d1cd;
  --gray: #353634;
  --black: #181a17;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1 {
  color: var(--black);
  font-family: "Pecita";
}

body {
  color: var(--black);
  font-family: "Reddit Mono";
  font-size: 24px;
}

.bg-off-white {
  background-color: var(--background);
}

.underline-green {
  text-decoration-color: var(--accent);
  text-decoration-thickness: 3px;
}

.underline-green-thick {
  text-decoration-color: var(--accent);
  text-decoration-thickness: 5px;
}

.hover-body-link:hover {
  color: var(--accent2);
}
